// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-blue:            #41AAC4;
$brand-black:           #2F343A;
$brand-white:           #DDDDDD;

/* Other colors
Grey: #717D8C
Tan: #BDB69C
Mint: #80CEB9
*/

$font-family-sans-serif: 'Raleway', Arial, sans-serif;
$font-family-serif: 'Libre Baskerville', Times, serif;
