// .navbar{
//   height: 4rem;
// }
//
// .bg-faded{
//   background-color: transparent;
// }
//
// .navbar-toggleable-md{
//   height: auto;
//   min-height: 4rem;
// }
//
// a{
//     font-size: 1rem;
//     text-transform: uppercase;
//     font-family: $font-family-sans-serif;
//   }
//
// .nav-link li{
//     display: inline-block;
//     float: none;
// }
//
// .navbar .navbar-nav{
//     float:none;
//     margin:0 auto;
//     display: block;
//     text-align: center;
// }
//
// .navbar .navbar-collapse {
//     text-align: center;
// }

// .navbar .navbar-nav {
//     display: inline-block;
//     float: none;
// }
//
// .navbar .navbar-collapse {
//     text-align: center;
// }

@media (min-width:768px) {
/* centered navigation */
 .nav.navbar-nav {
     float: left;
 }
 .nav.navbar-nav {
     clear: left;
     float: left;
     margin: 0;
     padding: 0;
     position: relative;
     left: 50%;
     text-align: center;
 }
 .nav.navbar-nav > li {
     position: relative;
     right: 50%;
 }
 .nav.navbar-nav li {
    text-align: left
 }
}
