// PAGE TITLE



// BACKGROUND IMAGE

#welcome-intro{
  background-size: cover;
}



// THIS IS THE WHOLE PAGE
.front-page-body{
}


// THIS IS THE HOMEPAGE PICTURE
.main-image-container{
}

.home-page-title{
  h1{
    margin-top: 1em;
    margin-left: 2em;
  }
}

// THIS IS THE CONTAINER WITH LINKS AND PARAGRAPHS
.main-content{
}

.main-content-text{
  // h2{
  //   margin-left:2em;
  //   margin-top: 5em;
}


// Styling for single-page content

.content{
}
